body {
    background-color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: white;
}

.form-control {
    background-color:#444;
    border: none;
}


#btn-submit {
    background-color: blueviolet;
    font-weight: bold;
    height: 50px;
    font-size: 16px

}
